@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>


<address>
    1215 Lyons Rd Building F<br />
    Dayton, OH 45458<br />
    <abbr title="Phone">P:</abbr>
    (888) 781-7567<br />
    <br />
    Business Hours:<br />
    <br />
    Wednesday	8AM–5PM<br />
    Thursday	8AM–5PM<br />
    Friday	    8AM–5PM<br />
    Saturday	Closed<br />
    Sunday	    Closed<br />
    Monday	    8AM–5PM<br />
    Tuesday	    8AM–5PM<br />
</address>

<address>
    
</address>