@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Centric</h1>
    <p class="lead">We treat our culture with the same importance as we do our business strategy.</p>
    <p><a href="https://centricconsulting.com/about-us/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Our Story</h2>
        <p>
            In 1999, three longtime friends came up with an idea. They envisioned a different kind of consulting firm – one that allowed them, and their employees, to get more out of life and make a better impact on others.
        </p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/our-story/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>How We Work</h2>
        <p>We believe consulting is a team sport, which is why we don’t just work for you – we work with you to uncover new ideas that optimize your processes, elevate your technology, and help you compete in a digital world.</p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/how-we-work/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Why We're Here</h2>
        <p>
            Centric Consulting believes success comes from doing good work and creating value for those around us.
            Our core purpose is to create unmatched experiences for clients and employees. An experience like no other is less about the event itself and more about the positive feeling you get from it..
        </p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/why-were-here/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Ways We Give</h2>
        <p>“Ignite Passion for the Greater Good” is one of our core values. We’re committed to making a positive difference in the communities we love and live in. See how our teams are striving to make an impact across the country.</p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/ways-we-give/">Learn more &raquo;</a></p>
    </div>
</div>